<%= @project.title %>

<h2>任務內容</h2>
<% @project.tasks.each do |task| %>
<%= task.title %>
<br>
<% end %>

<br>
<%= form_for [@project, @project.tasks.build] do |f| %>
<%= f.text_field :title %>
<%= f.submit %>
<% end %>
